@import "tailwindcss";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0d1117 inset !important; /* match your input bg */
  -webkit-text-fill-color: #e6edf3 !important; /* your text color */
  transition: background-color 5000s ease-in-out 0s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  filter: invert(1);
}
